.btn_bg {
  @include ds-font;
  pointer-events: auto;
  padding: 4px 4px 7px 4px;
  background-color: $brown;
  border: none;
  width: max-content;
  min-width: 220px;
  position: relative;

  .btn_content {
    background-color: $orange;
    border: 4px solid $white;

    color: $white;
    letter-spacing: 3px;
    font-size: 34px;
    line-height: 0.85;
    font-weight: 600;
    padding: 0px 10px;
    text-shadow: 2px 2px 0px $dark_orange;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.btn_selected {
    &::before {
      content: '>';
      position: absolute;
      left: -20px;

      color: $white;
      font-size: 45px;
      text-shadow: 2px 2px 0px $dark_orange;
      animation: swingLeft 1s ease-in-out infinite;
    }
  }

  &:focus-visible {
    outline: 4px solid $white;
    outline-offset: 4px;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.98);
    transform-origin: bottom;
  }

  &:disabled {
    filter: grayscale(80%) brightness(90%);
    cursor: not-allowed;

    &:active {
      transform: none;
    }
  }

  @include phones {
    .btn_content {
      padding: 5px 10px;
      font-size: 30px;
    }
  }

  @include small-phones {
    min-width: 200px;

    .btn_content {
      padding: 2px 10px;
      font-size: 28px;
    }
  }

  @include landscape-phones {
    min-width: 200px;

    .btn_content {
      padding: 3px 10px;
      font-size: 25px;
      border: 3px solid $white;
    }
  }
}
