.interact_ui {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  // Pointer events must be none so we can actually interact with our canvas (e.g. with orbit controls)
  // Pointer events must be set to auto in the specific div/button of this class.
  pointer-events: none;
  @include bold-font;

  .central_area {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .score_text {
      font-size: 50px;
      color: $white;
      -webkit-text-stroke: 1px $black;
      text-shadow:
        4px 4px 0 $black,
        -4px -4px 0 $black,
        4px -4px 0 $black,
        -4px 4px 0 $black;
      position: absolute;
      top: 100px;
    }

    .game_over_text {
      position: absolute;
      font-size: 100px;

      color: $white;
      -webkit-text-stroke: 1px $black;
      text-shadow:
        4px 4px 0 $black,
        -4px -4px 0 $black,
        4px -4px 0 $black,
        -4px 4px 0 $black,
        -7px 13px 0 $black;

      text-align: center;

      :nth-child(1) {
        animation: comeFromLeftSide 0.5s ease-in-out;
      }

      :nth-child(2) {
        animation: comeFromRightSide 0.5s ease-in-out;
      }

      &.exit {
        :nth-child(1) {
          animation: exitToRightSide 0.4s ease-in-out;
          transform: translateX(60vw);
        }

        :nth-child(2) {
          animation: exitToLeftSide 0.4s ease-in-out;
          transform: translateX(-60vw);
        }

        @media (max-width: 900px) {
          :nth-child(1) {
            transform: translateX(100vw);
          }

          :nth-child(2) {
            transform: translateX(-100vw);
          }
        }
      }
    }

    .game_over_modal_area {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 40px;

      position: relative;
      top: 50px;
      animation: comeUpWithOpacity 0.4s ease-in-out;

      .game_over_modal_container {
        filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.8));
        width: max-content;
      }

      .game_over_modal_bg,
      .game_over_modal {
        clip-path: polygon(
          0px calc(100% - 8px),
          4px calc(100% - 8px),
          4px calc(100% - 4px),
          8px calc(100% - 4px),
          8px 100%,
          calc(100% - 8px) 100%,
          calc(100% - 8px) calc(100% - 4px),
          calc(100% - 4px) calc(100% - 4px),
          calc(100% - 4px) calc(100% - 8px),
          100% calc(100% - 8px),
          100% 8px,
          calc(100% - 4px) 8px,
          calc(100% - 4px) 4px,
          calc(100% - 8px) 4px,
          calc(100% - 8px) 0px,
          8px 0px,
          8px 4px,
          4px 4px,
          4px 8px,
          0px 8px
        );
      }

      .game_over_modal_bg {
        background-color: $burgundy;
        padding: 3px;
      }

      .game_over_modal {
        background-color: $light_yellow;
        box-shadow:
          inset 0px 2.5px 0px $lighter_yellow,
          inset 0px -3px 0px $dark_yellow;

        width: 150px;
        height: 200px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 7px;
        padding: 0px 0px 8px 0px;
        line-height: 1;

        .game_over_modal_text {
          @include ds-font;
          font-size: 40px;
          color: $peach;
          text-shadow: 1px 2px $lighter_yellow;
          text-transform: uppercase;
          font-weight: 800;
        }

        .game_over_modal_number {
          @include bold-font;
          font-size: 40px;

          color: $white;
          -webkit-text-stroke: 1px $black;
          text-shadow:
            4px 4px 0 $black,
            -4px -4px 0 $black,
            4px -4px 0 $black,
            -4px 4px 0 $black;
        }
      }

      .game_over_buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;

        button {
          min-width: 320px;
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
        }
      }
    }
  }

  .right_area {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    margin: 50px;

    display: flex;
    flex-direction: column;
    align-items: end;

    .game_title_area {
      position: relative;
      font-size: 60px;

      .game_title {
        color: $white;
        letter-spacing: 3px;
        text-shadow:
          4px 4px 0 $black,
          -4px -4px 0 $black,
          4px -4px 0 $black,
          -4px 4px 0 $black,
          6px 9px 0 $black;

        pointer-events: auto;
        user-select: none;

        -webkit-text-stroke: 1px $black;
      }
    }

    .main_menu {
      display: flex;
      flex-direction: column;
      margin-top: 60px;
      row-gap: 20px;

      align-items: end;
    }

    .bird_selection_menu {
      display: flex;
      flex-direction: column;
      margin-top: 60px;
      row-gap: 20px;
      align-items: end;

      .birds_list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: end;
      }

      .confirm_bird_buttons {
        display: flex;
        column-gap: 20px;

        button {
          min-width: unset;
          width: 100px;
        }
      }
    }

    &.exiting_right_area {
      animation: goLeftAndRight 1s ease-in-out;
    }
  }

  .start_message,
  .unlocked_bird_message {
    grid-column: 1 / 4;
    grid-row: 3 / 4;

    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 8vh;

    span {
      @include ds-font;
      color: $white;
      letter-spacing: 4px;
      font-size: 40px;
      font-weight: 600;
      padding: 0px 10px;
      text-shadow: 2px 2px 0px $dark_orange;
      animation: blink 2s infinite ease-in-out;
      text-align: center;
      position: relative;

      &.exiting_start_message {
        animation: goUpAndDown 1s ease-in-out;
      }
    }
  }

  .unlocked_bird_message {
    align-items: start;
    margin-bottom: 0vh;
  }

  .unlockable_bird_hint {
    grid-column: 1 / 4;
    grid-row: 2 / 3;

    display: flex;
    justify-content: center;
    align-items: end;

    span {
      @include ds-font;
      color: $white;
      letter-spacing: 4px;
      font-size: 40px;
      font-weight: 600;
      padding: 0px 10px;
      text-shadow: 2px 2px 0px $dark_orange;
      animation: blink 2s infinite ease-in-out;
      text-align: center;
      position: relative;
    }
  }

  @include smaller-height-devices {
    .unlocked_bird_message {
      align-items: center;
    }
  }

  @include phones {
    .right_area {
      margin-right: 20px;
      margin-top: 25px;

      .game_title_area {
        font-size: 55px;
        line-height: 1.3;
      }

      .main_menu {
        margin-top: 30px;
      }
    }

    .unlockable_bird_hint {
      grid-row: 3 / 4;
      align-items: start;

      span {
        font-size: 35px;
      }
    }

    .start_message,
    .unlocked_bird_message {
      span {
        font-weight: 500;
        padding: 0 40px;
        line-height: 1.1;
      }
    }
  }

  @include small-phones {
    .right_area {
      margin-top: 20px;

      .game_title_area {
        font-size: 45px;

        .game_title {
          text-shadow:
            4px 4px 0 $black,
            -4px -3px 0 $black,
            4px -3px 0 $black,
            -4px 3px 0 $black,
            4px 7px 0 $black;
        }
      }

      .main_menu {
        margin-top: 30px;
      }
    }

    .unlockable_bird_hint {
      align-items: center;

      span {
        top: 20px;
        font-size: 35px;
      }
    }
  }

  @include landscape-phones {
    .central_area {
      .score_text {
        top: 40px;
        font-size: 40px;
      }

      .game_over_text {
        top: 60px;
      }

      .game_over_modal_area {
        row-gap: 30px;

        .game_over_modal {
          width: 120px;
          height: 170px;

          .game_over_modal_text {
            font-size: 30px;
          }

          .game_over_modal_number {
            font-size: 30px;
            text-shadow:
              3px 3px 0 #000,
              -2px -3px 0 #000,
              3px -3px 0 #000,
              -2px 3px 0 #000;
          }
        }
      }
    }

    .right_area {
      margin-top: 20px;
      margin-right: 30px;

      .game_title_area {
        font-size: 40px;

        .game_title {
          text-shadow:
            4px 4px 0 $black,
            -4px -4px 0 $black,
            4px -4px 0 $black,
            -4px 4px 0 $black,
            6px 7px 0 $black;
        }
      }

      .main_menu,
      .bird_selection_menu {
        margin-top: 20px;
      }
    }

    .start_message,
    .unlocked_bird_message,
    .unlockable_bird_hint {
      align-items: center;

      span {
        font-weight: 500;
        padding: 0 20px;
        font-size: 30px;
        bottom: 22px;
      }
    }

    .unlockable_bird_hint {
      grid-row: 3 / 4;

      span {
        top: 20px;
      }
    }

    .unlocked_bird_message {
      span {
        bottom: 65px;
      }
    }
  }
}
