// VARIABLES
$sky_bg: #2098f8;

$white: #fcfdfb;
$black: #000000;

$orange: #e86101;
$dark_orange: #c04e00;
$brown: #553000;
$light_yellow: #ded895;
$lighter_yellow: #f0eaa1;
$dark_yellow: #c7c286;
$burgundy: #543847;
$peach: #fc7858;

@font-face {
  font-family: 'nds';
  src: url('/fonts/nds.ttf') format('truetype');
}

@font-face {
  font-family: '04B';
  src: url('/fonts/04B_19.ttf') format('truetype');
}

@mixin ds-font {
  font-family: 'nds', sans-serif;
}

@mixin bold-font {
  font-family: '04B', sans-serif;
}

// KEYFRAMES
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// ====================== MAIN MENU EXIT ANIMATIONS ====================== //

@keyframes goUpAndDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(150px);
  }
}

@keyframes goLeftAndRight {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(450px);
  }
}

// ====================== GAME OVER TEXT ANIMATIONS ====================== //

@keyframes comeFromLeftSide {
  0% {
    transform: translateX(-60vw);
  }
  70% {
    transform: translateX(2vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes exitToRightSide {
  0% {
    transform: translateX(0vw);
  }
  20% {
    transform: translateX(-2vw);
  }
  100% {
    transform: translateX(60vw);
  }
}

@keyframes comeFromRightSide {
  0% {
    transform: translateX(60vw);
  }
  70% {
    transform: translateX(-2vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes exitToLeftSide {
  0% {
    transform: translateX(0vw);
  }
  20% {
    transform: translateX(2vw);
  }
  100% {
    transform: translateX(-60vw);
  }
}

// ====================== GAME OVER MODAL ANIMATIONS ====================== //

@keyframes comeUpWithOpacity {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

// ====================== OTHER ANIMATIONS ====================== //

@keyframes swingLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
